* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Libre Franklin";
}

@font-face {
    font-family: "Libre Franklin";
    src: url(./Libre_Franklin/LibreFranklin-Regular.ttf);
}

@font-face {
    font-family: "Libre Franklin Bold";
    src: url(./Libre_Franklin/LibreFranklin-Bold.ttf);
}

.app-wrapper {
    display: flex;
    flex-direction: column;
}

.leftHome {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #8E7C93;
    background-image: url("images/concrete-wall-2.png");
    background-position: center;
    justify-content: center;
    color: black;
}

.home {
    text-align: center;
    margin-top: 5%;
    font-family: "Libre Franklin Bold";
    line-height: 1.5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

.icons {
    display: flex;
    justify-content: center;
}

.iconBox {
    width: 40px;
    height: 40px;
    margin: 3%;
}

.linkedIn {
    background-image: url("images/if_linkedin-logo-1_1269935.png");
    background-size: cover;
    background-position: center;
    background-color: white;
    border-radius: 5px;
}

.gitHub {
    background-image: url("images/if_github_253591.png");
    background-size: cover;
    background-position: center;
}

.downArrow {
    font-size: 40px;
    padding-top: 10%;
}

.navBar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 2%;
    overflow: hidden;
    font-size: 20px;
    background-color: #3C3744;
}

.leftLinks {
    text-decoration: none;
    color: #D6DBD2;
}

.profileWrapper {
    color: #3C3744;
    line-height: 2;
    font-size: 20px;
    padding: 3%;
    width: 100%;
    min-height: 100vh;
    margin: auto;
    text-align: center;
    background-image: url("images/dark-stripes-light.png");
    background-color: #D6DBD2;
}

.aboutPage {
    height: 100%;
    width: 80%;
    margin: auto;
}

.profileHeader {
    font-size: 50px;
    font-weight: bolder;
    color: #3C3744;
    font-family: "Libre Franklin Bold";
}

.bioPicWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2%;
}

.picOfMe {
    background-image: url("images/DaniellePic.jpg");
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #3C3744;
    margin: auto;
}
.contactInfo{
    margin-left: 2%;
}

.pFirstHeading {
    font-size: 26px;
    font-weight: bolder;
    color: #3C3744;
    font-family: "Libre Franklin Bold";
}

.pHeading {
    font-weight: bolder;
    font-family: "Libre Franklin Bold";
}

.projectsWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.indivProject {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
}

.projectBox {
    width: 225px;
    height: 225px;
    border: 1px solid black;
    box-shadow: rgb(70, 70, 70) 5px 5px;
    border-radius: 30px;
}

.pBox {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 12px;
    font-weight: 800;
    margin-top: 3%;
}

.projectP {
    background-color: rgba(250, 250, 250, 0.212);
    padding: 1%;
}
.bold{
    font-family: "Libre Franklin Bold";
}

.farmersMarket {
    background-image: url("images/FarmersMarketFinder.png");
    background-size: cover;
    background-position: center;
}

.turnTaker {
    background-image: url("images/turnTaker.png");
    background-size: cover;
    background-position: center;
}

.one {
    background-image: url("images/checkered-pattern.png");
    background-color: #5D737E;
    height: 100vh;
}

.two {
    background-image: url("images/checkered-pattern.png");
    background-size: 50%;
    background-color: #91AEC1;
    height: 100vh;
}

/* .three {
    background-image: url("images/black-linen.png");
    background-color: #8E7C93;
    height: 100vh;
} */

/* .four {
    background-image: url("images/dark-stripes-light.png");
    background-color: #D6DBD2;
    height: 100vh;
} */

.resumeImage {
    background-image: url(images/resumeImage.png);
    background-size: cover;
    height: 100vh;
}
@media (min-width: 500px){
    .projectBox {
        width: 350px;
        height: 350px;
    }
    .pBox {
        font-size: 16px;
    }
}
@media (min-width: 750px){
    .profileWrapper {
        height: 100vh;
    }
    .iconBox {
        width: 60px;
        height: 60px;
    }
    .bioPicWrapper {
        flex-direction: row;
        margin: 2%;
    }
    .aboutMe {
        width: 30%;
        text-align: left;
    }
    .picOfMe {
        width: 300px;
        height: 300px;
        border: 10px solid #3C3744;
    }
    .contactInfo {
        text-align: left;
        width: 30%;
    }
    .indivProject {
        flex-direction: row;
    }

    .pBox {
        width: 400px;
        height: 500px;
        font-size: 16px;
        margin-top: 0%;
        margin-left: 3%;
    }
}
@media (min-width: 1200px){
    .projectBox {
        width: 400px;
        height: 400px;
    }
}